<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qmall.goods.system.mapper.GoodsCategoryMapper">

    <sql id="tbGoodsCategoryBaseColumnSql">
        category_id,
        parent_id,
        name,
        status,
        sort_order,
        is_parent,
        create_time,
        update_time
    </sql>

    <sql id="tbGoodsCategoryBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.categoryId)">
                    category_id = #{map.categoryId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.parentId)">
                    AND parent_id = #{map.parentId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.name)">
                    AND name = #{map.name}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.status)">
                    AND status = #{map.status}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.sortOrder)">
                    AND sort_order = #{map.sortOrder}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.isParent)">
                    AND is_parent = #{map.isParent}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.createTime)">
                    AND create_time = #{map.createTime}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.updateTime)">
                    AND update_time = #{map.updateTime}
                </if>
            </where>
        </if>
    </sql>

    <insert id="addCat" parameterType="com.qmall.goods.entity.GoodsCategory">
        INSERT INTO tb_goods_category(
        <include refid="tbGoodsCategoryBaseColumnSql"/>
        )VALUES(
            #{categoryId},
            #{parentId},
            #{name},
            #{status},
            #{sortOrder},
            #{isParent},
            #{createTime},
            #{updateTime}
        )
    </insert>

    
    <delete id="deleteByCatId" parameterType="Integer">
        DELETE FROM tb_goods_category WHERE category_id = #{categoryId}
    </delete>

    <update id="updateCat" parameterType="com.qmall.goods.entity.GoodsCategory">
        UPDATE tb_goods_category
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(parentId)">
                parent_id = #{parentId} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(name)">
                name = #{name} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(status)">
                status = #{status} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(sortOrder)">
                sort_order = #{sortOrder} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(isParent)">
                is_parent = #{isParent} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(createTime)">
                create_time = #{createTime} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(updateTime)">
                update_time = #{updateTime} ,
            </if>
        </set>
        WHERE category_id = #{categoryId}
    </update>

    <select id="searchCat" parameterType="map" resultMap="tbGoodsCategoryMap">
        SELECT
        <include refid="tbGoodsCategoryBaseColumnSql"/>
        FROM tb_goods_category
        <include refid="tbGoodsCategoryBaseWhereSql"/>
    </select>

    <resultMap type="com.qmall.goods.entity.GoodsCategory" id="tbGoodsCategoryMap">
        <id column="category_id" property="categoryId"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="is_parent" property="isParent"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

</mapper>
